%p#notice= notice
%p#alert= alert

%dl.dl-horizontal
  %dt Brand:
  %dd= @host.brand ? @host.brand.name : nil
  %dt Name:
  %dd= @host.name
  %dt Code:
  %dd= @host.code
  %br
  %br
  %dt Airlines:
  %dd
    %ul#sorted_airlines.list-group
      - @host.airlines.each do |al|
        %li.list-group-item
          = link_to("#{al.code} - #{al.name}", [:admin,al])

