%dl.dl-horizontal
  %dt Code:
  %dd= @airline.code
  %dt Name:
  %dd= @airline.name
  %dt Country:
  %dd= @airline.country_name
  %dt Airline Hosts:
  %dd
    %ul#sorted_hosts.list-group
      - @airline.hosts.each do |h|
        %li.list-group-item.col-sm-4= "#{h.code} - #{h.name}"
  %dt Slug:
  %dd= @airline.slug
  -#%dt Hosts:
  -#%dd= @airline.hosts.name
