%p#notice= notice
%p#alert= alert

%dl.dl-horizontal
  %dt ID:
  %dd= @branded_market_route_map.id
  %dt Brand:
  %dd= link_to(@branded_market_route_map.brand.name, admin_brand_path(@branded_market_route_map.brand))

  %br
  %dt Market:
  %dd
    %h4
      .col-sm-1= @branded_market_route_map.origin
      .col-sm-1= @branded_market_route_map.dest
  %br
  %dt Route Map:
  %dd
  %br
%pre
  %code{class:'JSON'}= JSON.pretty_generate(@branded_market_route_map.route_map)
  -#%dt Market Requests:
  -#%dd
  -#  %ul#sorted_hosts.list-group
  -#    - @branded_market_route_map.branded_market_requests.sort_by{|bmr| [bmr.origin, bmr.dest, bmr.seg_count]}.each do |bmr|
  -#      %li.list-group-item
  -#        = link_to("#{bmr.origin} #{bmr.dest}  #{bmr.seg_count} segs - #{bmr.id}", [:admin,bmr])


  %br
