= simple_form_for [:admin, @report_key], html: { class: 'form-horizontal' },
   wrapper: :horizontal_form,
   wrapper_mappings: { check_boxes: :horizontal_radio_and_checkboxes,
                       radio_buttons: :horizontal_radio_and_checkboxes,
                       file: :horizontal_file_input,
                       boolean: :horizontal_boolean }  do |f|
  -if @report_key.errors.any?
    .alert.alert-danger.alert-dismissable{role: 'alert'}
      %button.close{type: 'button', data: {dismiss: 'alert'} }
        %span{aria: {hidden: 'true'} } &times;
        %span.sr-only Close
      %h4= "#{pluralize(@report_key.errors.count, 'error')} prohibited this benefit_limit from being saved:"

      %ul
        - @report_key.errors.full_messages.each do |msg|
          %li= msg



  .form-inputs
    = f.input :code
    = f.input :file_pattern
    = f.input :name
    = f.input :comment
    = f.association :brands, as: :check_boxes
    %br
    = f.input :active,  label: false,
         input_html: {'data-toggle': 'toggle', 'data-size':'small', 'data-onstyle': 'success',
          'data-on': 'Active', 'data-off': 'Disabled'}

  .form-actions.col-sm-offset-3.col-sm-9
    = f.submit class: 'btn btn-primary'




