%p#notice= notice
%p#alert= alert

%dl.dl-horizontal
  %dt Report Key:
  %dd= @report_key.code
  %dt Current Seq:
  %dd= @report_key.current_seq
  %br

  %dt File pattern:
  %dd= @report_key.file_pattern
  %br
  %dt Name:
  %dd= @report_key.name
  %dt Comment:
  %dd= @report_key.comment
  %br
  %dt Brands:
  %dd
    %ul#sorted_brand.list-group
      - @report_key.brands.each do |br|
        %li.list-group-item.col-sm-4
          = link_to(br.name, admin_brand_path(br))
  %br
  %br
  %dt Active:
  %dd
    = @report_key.active? ? content_tag(:span, 'Yes',class:'status_tag yes') : content_tag(:span, 'No',class:'status_tag no')
  %br
