= simple_form_for @potential_branded_carrier, html: { class: 'form-horizontal' },
   wrapper: :horizontal_form,
   wrapper_mappings: { check_boxes: :horizontal_radio_and_checkboxes,
                       radio_buttons: :horizontal_radio_and_checkboxes,
                       file: :horizontal_file_input,
                       boolean: :horizontal_boolean }  do |f|
  -if @potential_branded_carrier.errors.any?
    .alert.alert-danger.alert-dismissable{role: 'alert'}
      %button.close{type: 'button', data: {dismiss: 'alert'} }
        %span{aria: {hidden: 'true'} } &times;
        %span.sr-only Close
      %h4= "#{pluralize(@potential_branded_carrier.errors.count, 'error')} prohibited this Potential branded carrier from being saved:"

      %ul
        - @potential_branded_carrier.errors.full_messages.each do |msg|
          %li= msg



  .form-inputs
    = f.input :cxr
    = f.input :carrier_name
    = f.association :brand, include_blank: false

  .form-actions.col-sm-offset-3.col-sm-9
    = f.submit class: 'btn btn-primary'




