%p#notice= notice
%p#alert= alert

%dl.dl-horizontal
  %dt Brand key:
  %dd= @brand.brand_key
  %dt Name:
  %dd= @brand.name
  %br
  %dt Report Keys:
  %dd
    %ul#sorted_report_keys.list-group
      - @brand.report_keys.each do |rk|
        %li.list-group-item.col-sm-4
          = link_to(rk.name, admin_report_key_path(rk))
  %br
  %dt Description:
  %dd= @brand.description
  %dt Default currency:
  %dd= @brand.default_currency
  %br
  %dt Max Segments:
  %dd= @brand.max_segments
  %br
  %dt Hosts:
  %dd
    %ul#sorted_hosts.list-group
      - @brand.hosts.each do |h|
        %li.list-group-item.col-sm-4
          = link_to(h.name, [:admin,h])

  %br
  %dt Data States:
  %dd= @brand.data_states
  %br

  %dt Active:
  %dd
    = @brand.active? ? content_tag(:span, 'Yes',class:'status_tag yes') : content_tag(:span, 'No',class:'status_tag no')

  %br

  %dt Latest Route Maps :
  %dd
    %ul#sorted_hosts.list-group
      - @brand.export_smart_route_reports.each do |rpt|
        %li.list-group-item.col-sm-4
          = link_to("#{rpt.workflow_state} #{rpt.location}", [:admin,rpt])
          %div= rpt.updated_at

  %br
