%p#notice= notice
%p#alert= alert

%dl.dl-horizontal
  %dt Brand key:
  %dd= @brand.brand_key
  %dt Name:
  %dd= @brand.name
  %br
  %dt Report Keys:
  %dd
    %ul#sorted_report_keys.list-group
      - @brand.report_keys.each do |rk|
        %li.list-group-item.col-sm-4
          = link_to(rk.name, admin_report_key_path(rk))
  %br
  %dt Description:
  %dd= @brand.description
  %dt Default currency:
  %dd= @brand.settings.default_currency
  %br
  %dt Max Segments:
  %dd= @brand.settings.max_segments
  %br
  %dt Hosts:
  %dd
    %ul#sorted_hosts.list-group
      - @brand.hosts.each do |h|
        %li.list-group-item.col-sm-4
          = link_to(h.name, [:admin,h])

  %br
  %dt Load Time Out:
  %dd= @brand.settings.schedule_load_timeout
  %br

  %dt Export State:
  %dd
    %ul.list-group
    - if  @brand.export_state.idle?
      %li.list-group-item.col-sm-4.list-group-item-info= @brand.export_state.current_state
    - else
      %li.list-group-item.col-sm-4.list-group-item-warning
        %span= @brand.export_state.current_state
        .pull-right.btn.btn-sm.btn-default= link_to("reset", reset_export_state_admin_brand_path(@brand))

  %dt Data State:
  %dd
    %ul.list-group
    - if  @brand.data_state.idle?
      %li.list-group-item.col-sm-4.list-group-item-info= @brand.data_state.current_state
    - else
      %li.list-group-item.col-sm-4.list-group-item-warning
        %span= @brand.data_state.current_state
        .pull-right.btn.btn-sm.btn-default= link_to("reset", reset_data_state_admin_brand_path(@brand))


  %br
  %dt Data Stats:
  %dd
    - sorted_stats = @brand.data_state.stats.sort_by { |k,v| v["updated_at"] or DateTime.now.in_time_zone  }.reverse
    %ul#sorted_hosts.list-group
      - sorted_stats.each do |k,v|
        - if v.is_a? Hash
          %li.list-group-item.list-group-item-info.col-sm-8
            %div= "#{k}: #{v.except('updated_at')}"
            %div= v["updated_at"] or nil
        - else
          %li.list-group-item.list-group-item-info.col-sm-8
            %div= "#{k}"
            %div= v
  %br

  %dt Active:
  %dd
    = @brand.active? ? content_tag(:span, 'Yes',class:'status_tag yes') : content_tag(:span, 'No',class:'status_tag no')

  %br

  %dt Latest Route Maps :
  %dd
    %ul#sorted_hosts.list-group
      - @brand.route_map_export_reports.limit(2).each do |rpt|
        %li.list-group-item.col-sm-4
          = link_to("#{rpt.workflow_state} #{rpt.location}", [:admin,rpt])
          %div= rpt.updated_at

  %br
