%p#notice= notice
%p#alert= alert

%dl.dl-horizontal
  %dt Brand key:
  %dd= @brand.brand_key
  %dt Name:
  %dd= @brand.name
  %br
  %dt Report Keys:
  %dd
    %ul#sorted_report_keys.list-group
      - @brand.report_keys.each do |rk|
        %li.list-group-item.col-sm-4
          = link_to(rk.name, admin_report_key_path(rk))
  %br
  %dt Description:
  %dd= @brand.description
  %dt Default currency:
  %dd= @brand.default_currency
  %br
  %dt Max Segments:
  %dd= @brand.max_segments
  %br
  %dt Hosts:
  %dd
    %ul#sorted_hosts.list-group
      - @brand.hosts.each do |h|
        %li.list-group-item.col-sm-4
          = link_to(h.name, [:admin,h])

  %br
  %dt Data States:
  -#%dd= @brand.data_states
  %dd
    - sorted_data_states = @brand.data_states.sort_by { |k,v| v["updated_at"] or Time.now }.reverse
    %ul#sorted_hosts.list-group
      - sorted_data_states.each do |k,v|
        - if v.is_a? Hash
          - state_class = (v["state"] and v["state"].eql? 'processing') ? 'list-group-item-warning' : 'list-group-item-info'
          %li.list-group-item.col-sm-8{class: state_class}
            %div= "#{k}: #{v["state"]}"
            %div= v.except("updated_at", "state")
            %div= v["updated_at"] or nil
            = link_to("reset", reset_data_states_admin_brand_path(data_state:k))
        - else
          %li.list-group-item.list-group-item-info.col-sm-8
            %div= "#{k}"
            %div= v
            = link_to("reset", reset_data_states_admin_brand_path(data_state:k))

  %br

  %dt Active:
  %dd
    = @brand.active? ? content_tag(:span, 'Yes',class:'status_tag yes') : content_tag(:span, 'No',class:'status_tag no')

  %br

  %dt Latest Route Maps :
  %dd
    %ul#sorted_hosts.list-group
      - @brand.export_smart_route_reports.limit(2).each do |rpt|
        %li.list-group-item.col-sm-4
          = link_to("#{rpt.workflow_state} #{rpt.location}", [:admin,rpt])
          %div= rpt.updated_at

  %br
