= simple_form_for [:admin,@app_switch], html: { class: 'form-horizontal' },
   wrapper: :horizontal_form,
   wrapper_mappings: { check_boxes: :horizontal_radio_and_checkboxes,
                       radio_buttons: :horizontal_radio_and_checkboxes,
                       file: :horizontal_file_input,
                       boolean: :horizontal_boolean }  do |f|
  -if @app_switch.errors.any?
    .alert.alert-danger.alert-dismissable{role: 'alert'}
      %button.close{type: 'button', data: {dismiss: 'alert'} }
        %span{aria: {hidden: 'true'} } &times;
        %span.sr-only Close
      %h4= "#{pluralize(@app_switch.errors.count, 'error')} prohibited this app switch from being saved:"

      %ul
        - @app_switch.errors.full_messages.each do |msg|
          %li= msg



  .form-inputs
    = f.input :name
    = f.input :enabled,  label: false,
        input_html: {'data-toggle': 'toggle', 'data-size':'small', 'data-onstyle': 'success',
         'data-on': 'Enabled', 'data-off': 'Disabled'}

  %br
  .form-actions.col-sm-offset-3.col-sm-9
    = f.submit class: 'btn btn-primary'




