%p#notice= notice
%p#alert= alert
%dl.dl-horizontal
  %dt Msg:
  %dd= @oag_report.msg_id
  %dt Report Key:
  - if @oag_report.report_key
    %dd= link_to @oag_report.report_key.code, admin_report_key_path(@oag_report.report_key)
    %dt Report Key Seq:
    %dd= @oag_report.seq
  - else
    %dd
  %dt Report status:
  %dd= @oag_report.current_state.name
  %dt Attachment status:
  %dd= @oag_report.attachment_status
  %dt Received:
  %dd= @oag_report.received
  %dt Attachment lines:
  %dd= @oag_report.attachment_lines
  %dt Attachment path:
  %dd= @oag_report.attachment_path
  %dt Attachment size:
  %dd= @oag_report.attachment_size
  %dt Carriers:
  %dd= @oag_report.carriers
  %dt Complete:
  %dd= @oag_report.complete
  %dt Load status:
  %dd= @oag_report.load_status
  %dt Load status:
  %dd
    %ul
      - @oag_report.log_data.each do |log_line|
        %li= log_line

