- ReportKey.current_key = '' if ABBConfig.find_by(var: 'data_key').blank?
- @abb_config = ABBConfig.find_by(var: 'data_key')

.row
  .col-sm-3.col-sm-offset-1
    .h3{:style => 'margin: 0px;'}
      %a{href:"#{root_url}"}<
        = image_tag('icons/schedman_favicon.ico', size: "25x25")
        Data Key
.row

  = simple_form_for [:admin, @abb_config], remote:true, html: {class: 'admin-datakey-form form-inline' }   do |f|
    -if @abb_config.errors.any?
      .alert.alert-danger.alert-dismissable{role: 'alert'}
        %button.close{type: 'button', data: {dismiss: 'alert'} }
          %span{aria: {hidden: 'true'} } &times;
          %span.sr-only Close
        %h4= "#{pluralize(@abb_config.errors.count, 'error')} prohibited this setting from being saved:"

        %ul
          - @abb_config.errors.full_messages.each do |msg|
            %li= msg

    - if ReportKey.active.blank?
      %h5 No valid data keys are loaded in system
    - else
      .form-inputs.col-sm-offset-1.col-sm-9
        = f.input :value, label:false, collection: ReportKey.active,
                        selected: ReportKey.current_key, label_method: :name, value_method: :report_key
        = f.hidden_field :var, value: 'data_key'
        -#= f.button :submit, 'Set  Data Key', class: 'btn btn-lg btn-primary'
        -#= f.association :report_key, include_blank: false, label: false




