%p#notice= notice
%p#alert= alert
%dl.dl-horizontal
  %dt Current Report key:
  %dd
    %ul.list-inline
      %li= link_to @app_control.report_key.report_key, admin_data_key_path(@app_control.report_key)
      %li= @app_control.report_key.name
      %li= @app_control.report_key.file_pattern

  %br
