%p#notice= notice
%p#alert= alert
%dl.dl-horizontal
  %dt ID:
  %dd= @export_smart_route_report.id
  %dt Brand:
  %dd=  link_to(@export_smart_route_report.brand.name, admin_brand_path(@export_smart_route_report.brand))
  %dt Location:
  - if @export_smart_route_report.location.blank?
    %dd
  - else
    %dd= link_to @export_smart_route_report.location, @export_smart_route_report.location
  %dt Report status:
  %dd= @export_smart_route_report.current_state.name
  %dt Report details:
  %dd= @export_smart_route_report.details
