.container
  .row
    %br
    %br
  .row
    .col-sm-2
      %h5
        Explore
    .col-sm-2
      - search_link = search_index_url
      %a.btn.btn-default#search_flights{href: "#{search_link}", role:"button"}
        %i.fa.fa-plane
        Search
    .col-sm-2
      %a.btn.btn-default#settings{href: "#{admin_dashboard_url}"}
        %i.fa.fa-gear
        Settings
  .row
    %br
  .row
    .col-sm-12
      Search for Destinations
      = "connecting trips for #{ReportKey.find_by_report_key(ABBConfig.data_key).name}"
  .row
    %br
  .row
    = simple_form_for :destination  do |form|

      = form.input :origin, label: false,
           input_html:{class: 'explore-origin typeahead',
                       placeholder: "Type the name of an origin airport to see where you can go in 1 stop"}


      = form.hidden_field :origin_id
      = form.hidden_field :origin_code

  .row
    - href = "search"
    .panel#destinations_panel{data: {url: "#{href}"}}

  .row
    %br
    %br
    .col-sm-12
      %a.btn.btn-primary.active#trigger_destinations{href: "#", role:"button"} Explore
  .row
    %br
    %br
    .col-sm-12
      %a.btn.btn-default{href: "#{search_link}", role:"button"} Search

  .row
    %br
    %br

