
%td{:colspan => 2} #{flt.dep_date}
%td #{flt.airline_code} #{flt.flight_num}
%td #{flt.origin_apt}
%td{:colspan => 2} #{flt.dep_time_local}
%td #{flt.dest_apt}
%td{:colspan => 2} #{flt.arr_time_local}
%td{:colspan => 2} #{flt.arr_date}


