= simple_form_for @search_request,  as: :search_request, :url => search_form_url,
                      :html => { id: 'flight_search_form', autocomplete: 'off',
                                 class: 'fr-search-form ' } do |form|
  - if @search_request.errors.any?
    #error_explanation
      %h5= "#{pluralize(@search_request.errors.count, "error")} prohibited this search from executing:"
      %ul
        - @search_request.errors.full_messages.each do |msg|
          %li= msg



  -#.form-group
  -#  %label.sr-only{for: "exampleInputEmail2"}Email address
  -#  %input.form-control#exampleInputEmail2{type:"email", placeholder:"Enter email"}
  .search_inputs.row
    = form.hidden_field :report_key_id


    = form.input :owrt, as: :radio_buttons,
                  collection: owrt_collection.reverse,
                  wrapper_html: {class: 'trip-type-selector'},
                  label: false,
                  label_method: lambda{ |owrt| owrt[:name].underscore.humanize.titleize},
                  value_method: lambda{ |owrt| owrt[:val]}

    = form.input :origin, label: false,
          wrapper_html: {class: 'col-sm-12 search-request-origin'},
          input_html: { :placeholder => "FROM", :class => "search-origin input-md typeahead",
          "data-origin-code" => @search_request.origin_code, "data-origin-name" => @search_request.origin}



    = form.hidden_field :origin_id
    = form.hidden_field :origin_code

    %a#reverse_pair.col-sm-1.col-sm-offset-10{href: "#", role:"button"}
      %i.fa.fa-exchange.fa-rotate-90

    = form.input :dest, label: false,
          wrapper_html: {class: 'col-sm-12 search-request-dest'},
          input_html: { :placeholder => "TO", :class => "search-dest typeahead input-md",
          "data-dest-code" => @search_request.dest_code, "data-dest-name" => @search_request.dest}


    = form.hidden_field :dest_id
    = form.hidden_field :dest_code

    .form-group.fr-search-dates
      .g-1-2.float-l
        = form.input :depart,   placeholder: "Departure Date",
              wrapper_html: {class: 'col-sm-6 search-request-depart'},
              input_html: {class: "datepicker-input depart-datepicker input-md",
             data:{behaviour:"datepicker"}}, label: false
      .g-1-2.float-l
        = form.input :ret_date,  placeholder: "Return Date", required: false,
              wrapper_html: {class: 'col-sm-6 search-request-return'},
              input_html: {class: "datepicker-input return-datepicker input-md",
             data:{behaviour:"datepicker"}},  label: false

    .actions.col-sm-6
      = form.submit "Search", class:"btn btn-primary"

      %a#analyze_pair{href: "#", role:"button"} *


    -#= form.input :owrt, as: :boolean, label: "RoundTrip"

    / Split button
    .hide.btn-group
      -#%button.btn.btn-default{type: "button"} Config
      %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
        %span.caret
        %span.sr-only Toggle Dropdown
      %ul.dropdown-menu.search-settings-form.pull-right{role: "menu"}
        %li
          = form.input :mct, :type => "number", label: false, placeholder: 'MCT in minutes',
           input_html: {:maxlength => 3, size: 'auto', val: 0}
        %li.divider
        %li
          = form.input :maxct,  :type => "number", label: false, placeholder: 'MAXCT in minutes',
           input_html: {:maxlength => 4, size: 'auto', val: 1440}
        %li
          = form.input :stops,  :type => "number", label: false, placeholder: 'Max Stops Per Leg',
           input_html: {min: "1", max: "5", val: 0}
        %li.divider