= simple_form_for @product_code, html: { class: 'form-horizontal' },
   wrapper: :horizontal_form,
   wrapper_mappings: { check_boxes: :horizontal_radio_and_checkboxes,
                       radio_buttons: :horizontal_radio_and_checkboxes,
                       file: :horizontal_file_input,
                       boolean: :horizontal_boolean }  do |f|
  -if @product_code.errors.any?
    .alert.alert-danger.alert-dismissable{role: 'alert'}
      %button.close{type: 'button', data: {dismiss: 'alert'} }
        %span{aria: {hidden: 'true'} } &times;
        %span.sr-only Close
      %h4= "#{pluralize(@product_code.errors.count, 'error')} prohibited this Product code from being saved:"

      %ul
        - @product_code.errors.full_messages.each do |msg|
          %li= msg



  .form-inputs
    = f.input :desc
    = f.input :code
    = f.input :name

  .form-actions.col-sm-offset-3.col-sm-9
    = f.submit class: 'btn btn-primary'




